---
import Action from "../components/Action.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Find your Maker now">
  <main
    class="grid w-full grid-cols-1 lg:pr-12 box-border h-screen place-items-center"
  >
    <div
      class="flex flex-col justify-center items-center h-5/6 hover:animate-play-paused animate-pulse"
    >
      <img
        loading="lazy"
        decoding="async"
        src="/claqueta.webp"
        alt="Claqueta y palomitas"
        width="400px"
      />
      <h1
        class="text-white text-[100px] text-center max-md:text-4xl font-black block relative bottom-10 mb-0"
      >
        ERROR 404
      </h1>
      <Action href="/" class="w-full px-3 relative bottom-16 text-center"
        >Go home</Action
      >
    </div>
  </main>
</Layout>

<style>
  * {
    font-family: Poppins;
  }
  div {
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    transition: transform 1s ease 0s;
  }
  div:hover {
    transform: perspective(3000px) rotateY(5deg);
  }
</style>
