---
import Panel from "../layouts/Panel.astro";
---

<Panel title="Find your Maker now">
    <main
        class="grid w-full grid-cols-1 pr-12 pb-4 min-h-screen place-items-center"
    >
        <h1 class="text-white text-[100px] font-black block">ERROR 404</h1>
    </main>
</Panel>

<style>
    * {
        font-family: Poppins;
    }
</style>
