---
import Panel from "../layouts/Panel.astro";
import Icon from "astro-icon";
import Cards from "../components/Cards.astro";

if (!Astro.cookies.has("logged")) return Astro.redirect("/signup", 303);

const USERNAME = Astro.cookies.get("name").value;
---

<Panel title="Find your Maker now">
	<main class="grid w-full grid-cols-1 pr-12 pb-4 min-h-screen">
		<!-- Talents -->
		<section class="w-full p-4 pt-5 pb-0 box-border">
			<h1 class="text-white text-2xl text-left mb-3">
				Discover Talents, {USERNAME}
			</h1>
			<Cards filter="" />
		</section>
		<!-- Categories -->
		<section class="w-full pl-2 box-border">
			<h2 class="text-white text-2xl mb-4 pl-3 mt-4">Categories</h2>
			<div class="grid items-center gap-4 ml-2 grid-auto-fit-[100px]">
				<article
					class="bg-[#222] rounded-lg flex items-center justify-center flex-col p-2 w-full h-24 text-white hover:scale-95 hover:opacity-75 transition-transform cursor-pointer"
				>
					<Icon name="mdi:trending-up" color="white" width="30px" />
					<span>Sales</span>
				</article>
				<article
					class="bg-[#222] rounded-lg flex items-center justify-center flex-col p-2 w-full h-24 text-white hover:scale-95 hover:opacity-75 transition-transform cursor-pointer"
				>
					<Icon name="mdi:person" color="white" width="30px" />
					<span>HR</span>
				</article>
				<article
					class="bg-[#222] rounded-lg flex items-center justify-center flex-col p-2 w-full h-24 text-white hover:scale-95 hover:opacity-75 transition-transform cursor-pointer"
				>
					<Icon name="mdi:gesture" color="white" width="30px" />
					<span>Drawing</span>
				</article>
				<article
					class="bg-[#222] rounded-lg flex items-center justify-center flex-col p-2 w-full h-24 text-white hover:scale-95 hover:opacity-75 transition-transform cursor-pointer"
				>
					<Icon name="mdi:table" color="white" width="30px" />
					<span>Big data</span>
				</article>
				<article
					class="bg-[#222] rounded-lg flex items-center justify-center flex-col p-2 w-full h-24 text-white hover:scale-95 hover:opacity-75 transition-transform cursor-pointer"
				>
					<Icon name="mdi:brush" color="white" width="30px" />
					<span>Design</span>
				</article>
				<article
					class="bg-[#222] rounded-lg flex items-center justify-center flex-col p-2 w-full h-24 text-white hover:scale-95 hover:opacity-75 transition-transform cursor-pointer"
				>
					<Icon name="mdi:lightbulb" color="white" width="30px" />
					<span>Marketing</span>
				</article>
				<article
					class="bg-[#222] rounded-lg flex items-center justify-center flex-col p-2 w-full h-24 text-white hover:scale-95 hover:opacity-75 transition-transform cursor-pointer"
				>
					<Icon name="mdi:creation" color="white" width="30px" />
					<span>Astronomy</span>
				</article>
			</div>
		</section>
		<!-- My Learning -->
		<section class="w-full pl-2 mb-2 mt-2 box-border">
			<h2 class="text-white text-2xl mb-4 pl-3">My Learning</h2>
			<div class="grid items-center gap-3 ml-2 grid-auto-fit-lg">
				<article
					class="relative rounded-xl pb-3 bg-[#222] p-2 max-h-[160px] flex gap-4 w-full"
				>
					<img
						src="/mountain.jpg"
						alt="A camera taking a photo."
						class="rounded-lg object-cover h-full w-full max-w-[100px] aspect-square"
					/>

					<div
						class="flex justify-between flex-col h-full min-h-[100px]"
					>
						<Icon
							name="mdi:bookmark"
							width="30px"
							color="white"
							class="bg-carmesi rounded-full p-1 absolute right-3 top-3 hover:scale-110 transition-transform cursor-pointer hover:opacity-80"
						/>
						<h3 class="text-white text-lg w-3/4">
							Becoming a photographer
						</h3>
						<div class="flex justify-between px-2 pl-0">
							<div class="flex items-center gap-2">
								<Icon
									name="mdi:clock-time-twelve"
									width="20"
									color="white"
								/>
								<span class="text-white/70 text-xs"
									>69% complete</span
								>
							</div>
						</div>
					</div>
				</article>
				<article
					class="relative rounded-xl pb-3 bg-[#222] p-2 max-h-[240px] flex gap-4 w-full"
				>
					<img
						src="/design_thinking.jpg"
						alt="A camera taking a photo."
						class="rounded-lg object-cover h-full w-full max-w-[100px] aspect-square"
					/>

					<div
						class="flex justify-between flex-col h-full min-h-[100px]"
					>
						<Icon
							name="mdi:bookmark"
							width="30px"
							class="bg-white rounded-full p-1 absolute right-3 top-3 hover:scale-110 transition-transform cursor-pointer hover:opacity-80"
						/>
						<h3 class="text-white text-lg w-3/4">
							Design thinking
						</h3>
						<div class="flex justify-between px-2 pl-0">
							<div class="flex items-center gap-2">
								<Icon
									name="mdi:clock-time-twelve"
									width="20"
									color="white"
								/>
								<span class="text-white/70 text-xs"
									>69% complete</span
								>
							</div>
						</div>
					</div>
				</article>
			</div>
		</section>
	</main>
</Panel>

<style>
	* {
		font-family: Poppins;
	}
</style>
