---
export const prerender = false;
import Panel from "../layouts/Panel.astro";
import SearchInput from "../components/SearchInput.astro";
import Cards from "../components/Cards.astro";

const search = Astro.url.searchParams.get("search")! || "";
const category = Astro.url.searchParams.get("category")! || "";
const USERNAME = Astro.cookies.get("name").value;

console.log(search);
---

<Panel title="Looking for your Maker now">
  <main class="grid w-full grid-cols-1 pr-12 pb-4 min-h-screen">
    <!-- Talents -->
    <section class="w-full p-4 pt-5 pb-0 box-border">
      <h1 class="text-white text-2xl text-left mb-3">
        Discover Talents, {USERNAME}
      </h1>

      <SearchInput value={search} />

      <Cards filter={search} max={30} category={category} />
    </section>
  </main>
</Panel>

<style>
  * {
    font-family: Poppins;
  }
</style>
