---
import Nav from "../components/Nav.astro";
import Action from "../components/Action.astro";
---

<section class="grid md:hidden place-items-center mt-20">
  <div
    class="flex animate-scale flex-col justify-items-center items-center text-center"
  >
    <h1
      class="max-sm:text-5xl animate-blurred-fade-in animate-duration-[1s] text-9xl text-center font-black tracking-widest bg-clip-text text-transparent bg-gradient-to-r from-orange-200/70 to-50% via-orange-200/90 to-maker hover:animate-wobble"
    >
      START NOW
    </h1>
    <Action href="/signup" class="w-full">Sign up!</Action>
  </div>
</section>
